{% extends "layout3.html" %}

{% block title %}
    Flash cards by Diego
{% endblock %}

{% block main %}
<div id="start-page">
  <div id="brand">
    <img src="/images/logo.png" id="logo" class="logo" alt="logo">
    <h1 class="brand">Literate</h1>
  </div>
  <div id="content">
    <section>
      <div id="head">
        <h1>Discover a new way of learning. Become literate in any subject of your choosing.</h1>
      </div>
      <div id="help-user">
        <h1>How will literate help you?</h1>
        <ul>
          <li>Understand people when talking about unfamiliar subjects.</li>
          <li>Create your own decks, and practice anything.</li>
          <li>Discover decks made by us, or other students just like you.</li>
          <li>Practice any topic of your choosing in a user-friendly app.</li>
        </ul>
        <a href="/register"><button class="btn-primary">Sign Up. It's free.</button></a>
      </div>
    </section>
    <section>
      <img src="/images/startpageimg.png" alt="img" id="startpageimg">
    </section>
    <section class="row-border"></section>
    <section id="content-full">
      <div id="huse">
        <h1 class="text-center">How to use literate</h1>
        <div id="usage">
          <div>
            <p class="usechead">Choose a subject</p>
            <!--          <p>Add a small "sublist" with some text like: Add your own vocabulary or choose from the wide-->
            <!--            variety of decks created by literate or other passionate learners like yourself.</p>-->
          </div>
          <div>
            <p class="usechead">Practice it</p>
          </div>
          <!--Practice on web or mobile app, and receive notifications when it's time to practice.-->
          <div>
            <p class="usechead">Become literate</p>
          </div>
          <!--Once out algorithms are confident that you've learned the vocabulary, it will be marked as Literate.-->
        </div>
      </div>
      <div>
        <a href="/register">
          <button class="btn-primary" id="register-btn">Register</button>
        </a>
        <p id="login_register">or <a href="/login">Log In</a></p>
      </div>
    </section>
  </div>
</div>
{% endblock %}