* {
    box-sizing: border-box;
}

html, main, .container{
    overflow: auto;
}

body {
    font-family: Papyrus, cursive !important;
    margin: 0;
}

.container {
    margin: 0 15% 0 8%;
    height: 100%;
}

.off-white {
    background-color: whitesmoke;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-6 {
    margin-top: 2rem;
}

.form-field {
    font-size: 1.8rem;
    border-radius: 5px;
}
.form-field:hover {
    cursor: pointer;
    border: 2px solid black;
}

#login_button{
    text-align: center;
}

.form-div input:focus {
    outline: none;
}

.form-div.error input {
    border-color: #ea433b;
}

.form-div.success input {
    border-color: #2e944b;
}

.form-div small {
    color: #ea433b;
}

.brand {
    font-size: 3rem;
    font-family: "Copperplate", cursive;
    text-decoration: none;
    color: black;
}

.vertical-nav {
    background-color: white !important;
    position: fixed;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 300px auto;
    grid-template-rows: 100vh 100%;
    resize: horizontal;
    overflow: auto;
}

.grid-item-nav {
    width: 100%;
    overflow-clip-margin: 0;
}
.grid-item-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

main {
    height: inherit;
}

.nav-list {
    padding-top: 2em;
    list-style: none;
}

.nav-content {
    padding: 0.9em 0 0 0;
}

.nav-links {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.btn-primary {
    background-color: rgb(36, 110, 250);
    border-radius: 6px;
    color: white;
    border: none;
}
.btn-primary:hover {
    cursor: pointer;
    background-color: rgb(30, 100, 220);
}

#register-btn {
    font-size: 1.3rem;
    width: 8rem;
    height: 2.8rem;
}

#login_register {
    font-size: 1.5rem;
}
#login_register a {
    color: blue;
    text-decoration: none;
}
#login_register a:hover {
    text-decoration: underline;
}

#form_button {
    font-size: 1.3rem;
    width: 8rem;
    height: 2.8rem;
}

#no-session {
    margin-left: 2.5rem;
}

#no-session-content {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: auto;
}

#dashboard-header-div {;
    display: flex;
    margin: 5rem 0 0 0;
    justify-content: space-between;
}
#dashboard-header-div h1 {
    font-size: 3.2rem;
    margin: 0 0 0 .7rem;
}
#dashboard-btn {
    padding-left: .3rem;
}

#dashboard-button {
    font-size: 1.5rem;
    width: 15rem !important;
    height: 3.7rem !important;
    border-radius: 15px;
}

#dashboard-header-div a {
    text-decoration: none;
    color: white;
}

#dashboard-stats{
    display: flex;
    margin-top: 2rem;
    /*justify-content: left;*/
    justify-content: space-between;
}
.stat-box {
    border-radius: 25px;
    width: 35rem;
    height: 7rem;
    background-color: white;
    border: .3px solid gray;
    text-align: center;
    padding-top: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
}
.stat-box div span {
    font-size: 1.4rem;
    font-weight: bold;
}

.decks {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, minmax(380px, 605px));
    column-gap: 2rem;
    grid-template-rows: repeat(auto-fit, 20rem);
    justify-content: space-between;
}
.deck {
    margin-top: 3rem;
    border: .3px solid gray;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
}

.deck-more {
    margin: 0;
    height: 3rem;
    position: relative;
}
.deck-more svg {
    display: block;
    margin: 1.3rem 1.8rem 0 auto;
}
.deck-more-dropdown {
    display: none;
    position: relative;
    margin: 0 1rem 0 auto;
    width: 10rem;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.deck-more svg:hover {
    cursor: pointer;
}
.deck-more-dropdown a {
    font-size: 1.2rem;
    color: black;
    padding: .4rem .4rem;
    text-decoration: none;
    display: block;
}
.deck-more-dropdown a:hover {
    background-color: #f1f1f1;
}
.deck-more-dropdown .delete-deck {
    color: red;
}

.deck-name{
    text-align: initial;
    justify-content: initial;
    margin: -1.5rem 0 0 1.3rem;
}
.deck-name a {
    text-decoration: none;
    color: black;
}
.deck-name a div h2{
    margin-bottom: 0;
    font-size: 1.79rem;
    font-weight: bolder;
}
.deck-name a p {
    margin-top: 0;
    font-size: 1.25rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
input:checked ~ .learning-label {
    color: #000;
}

.deck-state{
    position: relative;
    height: 4.5rem;
}
.deck-state label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.8rem;
    margin-top: 3.5rem;
}
.learning-label {
    position: absolute;
    right: 4rem;
    top: .15rem;
    color: dimgray;
    font-weight: 900;
    font-size: 1.25rem;
}

#more-menu {
    height: 100%;
    width: 100%;
    display: none;
}
#more-menu ul {
    list-style: none;
}
#more-menu ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px) {
    .container {
        margin: 0 8% 0 8%;
    }
    .grid-container {
        width: 100%;
        height: 100%;
        grid-template-columns: 100% !important;
        grid-template-rows: 100% !important;
        overflow: auto;
    }
    .grid-item-nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        z-index: 3;
        width: 100%;
        grid-area: 1 / 1 / 1 / 1;
        text-align: center;
    }
    .grid-item-content {
        width: 100%;
        height: 92%;
        grid-area: 1 / 1 / 1 / 1;
    }
    .brand {
        display: none;
    }
    .nav-list {
        width: 100%;
        background-color: #fff;
        padding: 0 1.5rem 1rem 0 !important;
        margin: auto auto 0 auto;
    }
    .nav-list li{
        height: 3rem;
        display: inline-block;
        padding-left: 1.5rem;
    }
    .nav-list li a {
        padding-left: 2.5rem;
        font-size: 1em;
    }
    #dashboard-header-div {
        margin-left: -1.4rem !important;
    }
    #dashboard-button {
        width: 4rem !important;
        height: 4rem !important;
        border-radius: 50% !important;
    }
    .dashboard-btn a {
        display: none;
    }
    #changeColor {
        margin: 0 1.5rem 0 auto;
    }
    .nav-link-text {
        display: none;
    }
    #more-menu {
        position: relative;
        top: 0;
        height: 90%;
        width: 100%;
    }
    #add-card-btn {
        margin-top: -3rem;
        padding-bottom: 100px;
    }
    @media (max-width: 940px){
        .decks{
            grid-template-columns: repeat(auto-fit, minmax(380px, 605px));
            justify-content: center;
        }
        @media (max-width: 380px) {
            .nav-list li {
                padding-left: 1rem;
            }
            .nav-list li a {
                padding-left: 1.5rem;
            }
        }
    }
}

.full-span {
    width: 50%;
}

#dash-practice{
    margin-top: 3.5rem;
    padding-bottom: 1.2rem;
    justify-content: center;
}
#dash-practice button {
    border-radius: 15px;
    font-size: 1.8rem;
    height: 3.8rem;
}
#dash-practice button a {
    text-decoration: none;
    color: white;
}

.field-input {
    height: 2.5rem;
    width: 100%;
    font-size: 1.6rem;
}

.card {
    margin-top: 2.3rem;
    border: .5px solid gray;
    background-color: white;
    border-radius: 20px;
}

.deck-info {
    margin: .5rem;
}

.word-def {
    display: block;

}
.word-def .word {
    display: inline-block;
    width: 55%;
}
.word-def .def {
    display: inline-block;
    width: 44%;
}

.bolder {
    font-weight: 800;
    font-size: 1.3rem;
}

.deck-create {
    margin: 0 15% 0 12%;
}

.deck-create input{
    border-radius: 8px;
    margin-top: -.8rem;
}

.example {
    margin-top: 1.8rem;
}
.deck-create input, input::placeholder {
    font-size: 0.9rem;
}
.deck-create input:focus{
    outline: none;
}
.deck-create input:hover {
    border: 2px solid black;
}

.close {
    float:right;
}

.del-card {
    display: block;
    margin: 0.5rem 0.4rem 0 auto;
}
.del-card svg {
    z-index: 3 !important;
}
.del-card:hover, .close:hover {
    cursor: pointer;
    color: slategrey;
}
.deck-info {
    /*margin-top: -2.5rem;*/
    margin-top: -1.1rem;
}

#add-card-btn{
    margin-top: 1.5rem;
}
#add-card-btn:hover {
    cursor: pointer;
}
#Capa_1 {
    float: right;
}
#add-card {
    font-size: 1.7rem;
    float: right;
}

#share-save {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}
#save-changes {
    height: 3rem;
    width: auto;
    font-size: 1.5rem;
}

.modal::backdrop {
    background-color: rgba(0,0,0,0.5);
}

.modal-btns {
    display: flex;
}
.modal-btns button {
    margin: 0 1.3rem;
}

.btn-secondary {
    font-size: 1rem;
    width: 6.5rem;
    height: 2.4rem;
    background-color: rgb(36, 110, 250);
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
}
.btn-secondary:hover {
    cursor: pointer;
    background-color: rgb(30, 100, 220);
}

#heading {
    margin: 3rem 0 0 9rem;
    display: flex;
    justify-content: space-between;
}
#heading h1 {
    font-size: 2.5rem;
}
#heading a {
    text-decoration: none;
    color: black;
}
#practice-close {
    float: right;
    margin-top: 2rem;
    margin-right: 12rem;
}
#practice-close:hover {
    cursor: pointer;
    color: slategrey;
}

.practice-cards {
    margin: 8rem 25% 0 auto;
    width: 50%;
    height: 15rem;
}

.practice-cards fieldset{
    height: inherit;
    border-radius: 20px;
    background-color: white;
    border: .5px solid gray;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}
.practice-cards fieldset div {
    margin-top: 2rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
}
.practice-cards fieldset div span {
    display: inline-block;
    padding-bottom: 2rem;
}

#vocabulary {
    margin-top: 5rem;
}

#practice-btns {
    margin-top: 4rem;
}

#reveal {
    width: 50%;
    height: 3.7rem;;
    border-radius: 23px;
    font-size: 1.6rem;
}

#remember-btns {
    display: none;
}