{% extends "layout2.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="container">
      <div id="dashboard-header-div">
        <h1>Dashboard</h1>
        <div id="dashboard-btn">
          <button class="btn-primary dashboard-btn">+ <a href="/create_deck"> New Deck</a></button>
        </div>
      </div>
      <div id="dashboard-stats">
        <div class="stat-box">
          <div id="streaks"><span>Streaks {{streaks}}</span></div>
        </div>
        <div class="stat-box">
          <div id="total-words"><span>Words {{total_words}}</span></div>
        </div>
        <div class="stat-box">
          <div id="words-mastered"><span>Mastered {{words_mastered}}</span></div>
        </div>
      </div>
  
      <div class="decks text-center">
        <div class="deck">
          <div class="deck-more">
            <svg height="50" width="100">
              <circle cx="60" cy="35" r="15" stroke="black" stroke-width="0.5"/>
            </svg>
          </div>
          <div class="deck-name">
            <a href="">
              <div>
                <h2>Card name</h2>
              </div>
              <p><small>14 words</small></p>
            </a>
          </div>
          <div class="deck-state">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="deck">
          <div class="deck-more">
            <svg height="50" width="100">
              <circle cx="60" cy="35" r="15" stroke="black" stroke-width="0.5"/>
            </svg>
          </div>
          <div class="deck-name">
            <a href="">
              <div>
                <h2>Card name</h2>
              </div>
              <p><small>14 words</small></p>
            </a>
          </div>
          <div class="deck-state">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
{% endblock %}