{% extends "layout2.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="container">
      <div id="dashboard-header-div">
        <h1>Dashboard</h1>
        <div id="dashboard-btn">
          <button class="btn-primary dashboard-btn" id="dashboard-button" onclick="window.location.href='/create_deck'">+ <a href="/create_deck"> New Deck</a></button>
        </div>
      </div>
      <div id="dashboard-stats">
        <div class="stat-box">
          <div id="streaks"><span>Streaks {{streaks}}</span></div>
        </div>
        <div class="stat-box">
          <div id="total-words"><span>Words {{total_words}}</span></div>
        </div>
        <div class="stat-box">
          <div id="words-mastered"><span>Mastered {{words_mastered}}</span></div>
        </div>
      </div>
      <div id="dash-practice" class="text-center mt-6">
        <button class="btn-primary full-span"><a href="/practice">Begin Practice</a></button>
      </div>
  
      <div class="decks text-center">
        <div class="deck">
          <div class="deck-more">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor"> <path d="M7 14C8.10457 14 9 13.1046 9 12C9 10.8954 8.10457 10 7 10C5.89543 10 5 10.8954 5 12C5 13.1046 5.89543 14 7 14Z" fill="#000000" id="mainIconPathAttribute"></path> <path d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z" fill="#000000" id="mainIconPathAttribute"></path> <path d="M17 14C18.1046 14 19 13.1046 19 12C19 10.8954 18.1046 10 17 10C15.8954 10 15 10.8954 15 12C15 13.1046 15.8954 14 17 14Z" fill="#000000" id="mainIconPathAttribute"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#000000" id="mainIconPathAttribute"></path> </svg>
          </div>
          <div class="deck-name">
            <a href="">
              <div>
                <h2>Card name</h2>
              </div>
              <p><small>14 words</small></p>
            </a>
          </div>
          <div class="deck-state">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
{% endblock %}