<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/styles2.css" type="text/css">
  
  <title>Literate: {% block title %}{% endblock %}</title>
  
</head>
<body class="off-white">
  <main>
    {% block main %}
    
    {% endblock %}
  </main>
    <script type="text/javascript" src="../static/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</body>
</html>