{% extends "layout3.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <div class="text-center lr-heading">
    <img src="/static/images/logo.png" id="login-logo" class="logo" alt="logo">
    <h1>Log In</h1>
  </div>
    <form action="/login" method="post" id="login" class="form-parent">
        <div class="text-center">
            <div class="form-div">
                <label for="email">Your email</label>
                <input autofocus autocomplete="off" required name="email" type="text" class="form-field" id="email">
                <div class="err-succ"><small></small></div>
            </div>
            <div class="form-div">
                <label for="password">Password</label>
                <input required name="password" type="password" class="form-field" id="password">
                <div class="err-succ"><small></small></div>
            </div>
            <button type="submit" class="btn-primary" id="form_button">Log In</button>
            <p><strong class="error">{{ login_error }}</strong></p>
        </div>
    </form>
  <p id="foot" class="text-center">New to Literate? <a href="/register">Create an account</a></p>
{% endblock %}